$mainFontFamily:'Poppins', sans-serif;

$navbarSearchInputBg: #f3f3f3;
$navbarLinkColor: #000000;
$navbarLinkHoverColor: #3e976c;
$navbarButtonColor:#000000;
$navbarBadgeBgColor:#bdefd6;
$navbarBadgeColor:#3e976c;
$navbarBgColor:rgba(255,255,255,0.8);
$navbarMoveBoxShadow:#0000001a;

//Slider
$sliderDotBgColor: #bdefd6;
$sliderDotBgActiveColor:#3e976c;

//Product-box
$productboxButtonBgColor: #ffffff;
$productboxButtonBgHoverColor: #3e976c;
$productboxButtonBgFontColor: #000000; 
$productboxButtonBgFontHoverColor: #ffffff; 
$productboxTitleFontColor: #7a7a7a;
$productboxRatingColor:#f2b03d;

//Sliderv2
$sliderv2InfoColor:#cfcfcf;
$sliderv2TitleColor:#000000;

//Blog
$blogBgColor:#F9F9F9 ;
$blogPostBgColor:#ffffff;
$blogPostCategoryFontColor:#d2d2d2;
$blogPostDescribstionFontColor:#999999;
$blogPostTitleFontColor:#000000;
$blogButtonAllBlogsColor:#000000;
$blogButtonAllBlogsBgColor:#A9D1BD;
$blogButtonAllBlogsHoverColor:#ffffff;
$blogButtonAllBlogsBgHoverColor:#3e976c;


//Footer
$footerBgColor:#ffffff;
$footertopDescription:#999999;
$footertopSocialButtonColor:#999999;
$footertopSocialButtonBgColor:#f3f3f3;
$footertopSocialButtonHoverColor:#000000;
$footertopSocialButtonBgHoverColor:#BDEFD7;
$footertopHeaderColor:#000000;
$footertopLinkColor:#999999;
$footertopLinkHoverColor:#3e976c;
$footertopInputColor:#000000;
$footertopButtonColor:#3e976c;
$footertopNewsletterDataColor:#999999;
$footertopNewsletterWordColor:#3e976c;
$footertopBoxShadowColor:#f0f0f0;
$footerbottomColor:#999999;
$footerbottomHoverColor:#3e976c;

