.products{
    padding:100px 0 ;

    &__header{
        @include fluid-type(320px,1200px,20px,30px);
        font-weight: 600;
        text-align: center;
        margin: 0 0 50px 0 ;
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .product-box{
            width: 25%;
            padding: 0 15px;
            margin: 0 0 30px 0;

            @include forTablet {
                width: calc(100%/3);
            }
            
            @include forBigPhone {
                width: 50%;
            }
            
            @include forSmallPhone {
                width: 100%;
                &:nth-last-of-type(-n+4){
                    display: none;
                }
            }
        }
    }
}


